# Dev DB: Neon
DATABASE_URL=postgresql://neondb_owner:npg_4cM9HACNZQkh@ep-snowy-queen-a4v0b6qm-pooler.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_4cM9HACNZQkh@ep-snowy-queen-a4v0b6qm.us-east-1.aws.neon.tech/neondb?sslmode=require

BACKEND_PORT=4000
FRONTEND_PORT=8080
JSON_BODY_LIMIT=20mb
CORS_ORIGIN=*

VITE_BACKEND_BASE_URL=/api/admin
VITE_REFINE_DEVTOOLS=false
REFINE_NO_TELEMETRY=true